body{
margin-top: 50px;


}

#mainDiv {

width: 1100px;
margin-left: auto;
margin-right: auto;
margin-bottom: 50px;
border-radius: 10px;
border: 1px groove;
padding: 20px 20px 20px 20px;
box-shadow: 1px 1px 8px rgb(185, 183, 183);

}



#date{

    font-family: 'Source Sans Pro', sans-serif;
}

#mainTitle {

    
    text-align: center;
    font-size: 3em;
    font-family: 'Abril Fatface', cursive;
    
   

}



#unorderList {

   
    list-style-type: none;
    text-align: center;
    border-top: 2px groove;
    border-bottom: 2px groove;
    padding: 15px 0px 15px 0px;
    font-size: 18px;
    margin-right: auto;
    margin-left: auto;
    

}

li {

display: inline-block;
margin: 0px 20px 0px 0px;



}

li, a {

    text-decoration: none;
    
}



#titleFirstText{

margin: 0px 0px 0px 0px;
font-family: 'Roboto Slab', serif;
font-size: 39px;


}

#titleSecondText {

    margin: 0px 0px 30px 0px;
    font-size: 1em;
    font-family: 'Roboto Slab', serif;
    color: red;
    

}

#firstPicture {

    width: 1100px;
    height: auto;


}

#p1 {

    font-family: 'Source Sans Pro', sans-serif;
    width: 1090px;
    text-align: left;
    margin-right: auto;
    margin-left: 10px;
    
}


#infoBar{

    margin-right: auto;
   margin-left: auto;
    width: 1090px;
    
    


}

#firstDiv {

display: inline-block;
width: 45%;
font-family: 'Source Sans Pro', sans-serif;
margin-right: 40px;
font-size: 15px;
margin-left: 35px;
overflow: hidden;

}

#pictureTwo{

    height: auto;
    width: 490px;
    

}



#secondDiv{

    display: inline-block;
    width: 45%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    overflow: hidden;
    
    
}

#pictureThree{

    height: auto;
    width: 490px;
   
}



